body {
background: lightblue;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

h3{
color: blue;
}

div {
  background-color: lightyellow;
  width: 200px;
  border: 5px solid yellow;
  padding: 20px;
  margin: 5px;
  text-align: center;
}

[title~=bodysuit] {
  border: 5px solid blue;}

[title~=man] {
  border: 5px solid blue;}

[title~=panties] {
  border: 5px solid blue;}
 
 [title~=bonnet] {
  border: 5px solid blue;}
 
[title~=diaper] {
  border: 5px solid blue;}